In [1]:
import sys
!{sys.executable} -m pip install yfinance as yf
!{sys.executable} -m pip install pandas as pd

Requirement already satisfied: yfinance in /Users/adcv/opt/anaconda3/lib/python3.9/site-packages (0.1.70)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as
Requirement already satisfied: pandas in /Users/adcv/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [2]:
from locale import D_FMT
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
import logging

In [17]:
def getInfo(ticker: str):
    """getInfo creates a Ticker object, then returns a pandas df of all the available info
            
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame
    
    """
    keys = []
    values = []
    yfTicker = yf.Ticker(ticker.upper())
    info = yfTicker.info
    keys = info.keys()
    values = info.values()
    zipped = list(zip(keys,values))

    zipped.pop(149) # removes logo url to avoid SQL error
    zipped.pop(8) # removes website url to avoid SQL error
    zipped.pop(3) # removes longBusinessSummary to avoid SQL error
    
    df = pd.DataFrame(data=zipped, columns=['keys','values'])
    
    return df


def dictToDF(dictionary: dict):
    """The dictToDF method takes in a dictionary and returns a Pandas DataFrame
    
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame
                
    """
    columns = ["keys","values"]
    keys = []
    values = []
    zipped = []
    
    # Separates keys from values
    keys = dictionary.keys()
    
    # Separates values from keys
    values = dictionary.values()
    
    # Zips the keys and values into a list of tuples for easy viewing
    zipped = zip(keys,values)
    
    # Pandas DataFrame of all info from ticker
    df = pd.DataFrame(zipped,columns=columns)
    
    return df


def generalInfo(ticker: str):
    """
    The generalInfo method takes in any Ticker and returns the general info associated with that ticker
    
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame
    """
    key_list = ["longName","symbol","market","industry","sector","country",
                "state","city","address1","zip","phone","website"]
    general_info = {}
    
    tick = yf.Ticker(ticker)
    info = tick.info
    
    for key in key_list:
        for i in info:
            if i == key:
                general_info[key] = info[i]
                
    general = dictToDF(general_info)
    
    return general


def getFinancials(ticker: str):
    """getFinancials returns a dataframe with a lot of useful financial information
    
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame of the ticker's financial information
    """
    ticker = yf.Ticker(ticker.upper())
    bs = ticker.balancesheet
    cf = ticker.cashflow
    fn = ticker.financials
    
    return pd.concat([bs,cf,fn])


def toSQL(engine, tableName, df):
    """toSQL creates a table in a MySQL server to store a given Pandas DataFrame

        Parameters:
                engine: A SQL Engine to connect to MySQL server
                tableName: Name of the table being created in MySQL server
                df: A Pandas DataFrame that consists of a user-selected choice
    """
    logging.basicConfig(filename='logfile.log', encoding='utf-8', level=logging.DEBUG)
    dbConnection = engine.connect()

    try:
        df.to_sql(tableName, dbConnection)
    except ValueError as vx:
        print(vx)
    except Exception as ex:   
        print(ex)
    else:
        print("Table %s created successfully."%tableName);   
    finally:
        dbConnection.close()


def getHistoricPrice(ticker: str):
    """getHistoricPrice returns a dataframe with the historic stock price of the given ticker
    
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame of the ticker's historic stock price
    """
    ticker = yf.Ticker(ticker.upper())
    hist = ticker.history(period='max')
    df = pd.DataFrame(hist)

    return df


def getDividends(ticker: str):
    """getDividends returns a dataframe with the all the dividends paid out for the given ticker
    
        Parameters:
                ticker: String
                
        Returns:
                A Pandas DataFrame of the ticker's historic stock price
    """
    ticker = yf.Ticker(ticker.upper())
    div = ticker.dividends
    df = pd.DataFrame(div)

    return df

In [4]:
getInfo("MSFT")

                  keys                                   values
0                  zip                               98052-6399
1               sector                               Technology
2    fullTimeEmployees                                   181000
3                 city                                  Redmond
4                phone                             425 882 8080
..                 ...                                      ...
145            bidSize                                     2900
146            dayHigh                                   263.28
147     preMarketPrice                                      260
148           logo_url  https://logo.clearbit.com/microsoft.com
149   trailingPegRatio                                   1.7916

[150 rows x 2 columns]

In [6]:
# List of keys to pick from for all info
tick = yf.Ticker("AMZN")
info = tick.info
this = info.keys()

for i in this:
    print(i)

zip
sector
fullTimeEmployees
longBusinessSummary
city
phone
state
country
companyOfficers
website
maxAge
address1
industry
ebitdaMargins
profitMargins
grossMargins
operatingCashflow
revenueGrowth
operatingMargins
ebitda
targetLowPrice
recommendationKey
grossProfits
freeCashflow
targetMedianPrice
currentPrice
earningsGrowth
currentRatio
returnOnAssets
numberOfAnalystOpinions
targetMeanPrice
debtToEquity
returnOnEquity
targetHighPrice
totalCash
totalDebt
totalRevenue
totalCashPerShare
financialCurrency
revenuePerShare
quickRatio
recommendationMean
exchange
shortName
longName
exchangeTimezoneName
exchangeTimezoneShortName
isEsgPopulated
gmtOffSetMilliseconds
quoteType
symbol
messageBoardId
market
annualHoldingsTurnover
enterpriseToRevenue
beta3Year
enterpriseToEbitda
52WeekChange
morningStarRiskRating
forwardEps
revenueQuarterlyGrowth
sharesOutstanding
fundInceptionDate
annualReportExpenseRatio
totalAssets
bookValue
sharesShort
sharesPercentSharesOut
fundFamily
lastFiscalYearEnd
heldPercentInstitutions
netIncomeToCommon
trailingEps
lastDividendValue
SandP52WeekChange
priceToBook
heldPercentInsiders
nextFiscalYearEnd
yield
mostRecentQuarter
shortRatio
sharesShortPreviousMonthDate
floatShares
beta
enterpriseValue
priceHint
threeYearAverageReturn
lastSplitDate
lastSplitFactor
legalType
lastDividendDate
morningStarOverallRating
earningsQuarterlyGrowth
priceToSalesTrailing12Months
dateShortInterest
pegRatio
ytdReturn
forwardPE
lastCapGain
shortPercentOfFloat
sharesShortPriorMonth
impliedSharesOutstanding
category
fiveYearAverageReturn
previousClose
regularMarketOpen
twoHundredDayAverage
trailingAnnualDividendYield
payoutRatio
volume24Hr
regularMarketDayHigh
navPrice
averageDailyVolume10Day
regularMarketPreviousClose
fiftyDayAverage
trailingAnnualDividendRate
open
toCurrency
averageVolume10days
expireDate
algorithm
dividendRate
exDividendDate
circulatingSupply
startDate
regularMarketDayLow
currency
trailingPE
regularMarketVolume
lastMarket
maxSupply
openInterest
marketCap
volumeAllCurrencies
strikePrice
averageVolume
dayLow
ask
askSize
volume
fiftyTwoWeekHigh
fromCurrency
fiveYearAvgDividendYield
fiftyTwoWeekLow
bid
tradeable
dividendYield
bidSize
dayHigh
regularMarketPrice
preMarketPrice
logo_url
trailingPegRatio

In [18]:
generalInfo("aapl")

        keys                 values
0   longName             Apple Inc.
1     symbol                   AAPL
2     market              us_market
3   industry   Consumer Electronics
4     sector             Technology
5    country          United States
6      state                     CA
7       city              Cupertino
8   address1     One Apple Park Way
9        zip                  95014
10     phone           408 996 1010
11   website  https://www.apple.com

In [12]:
getFinancials("nflx")

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,13799221000.0,13747607000.0,14703352000.0,14951141000.0
Total Liab,28735415000.0,28215119000.0,26393555000.0,20735635000.0
Total Stockholder Equity,15849248000.0,11065240000.0,7582157000.0,5238765000.0
Other Current Liab,5502309000.0,5547528000.0,5338306000.0,5442461000.0
Total Assets,44584663000.0,39280359000.0,33975712000.0,25974400000.0
Common Stock,4024561000.0,3447698000.0,2793929000.0,2315988000.0
Other Current Assets,913883000.0,742169000.0,524669000.0,5151186000.0
Retained Earnings,12689372000.0,7573144000.0,4811749000.0,2942359000.0
Other Liab,3144891000.0,2654608000.0,3355987000.0,3888257000.0
Treasury Stock,-864685000.0,44398000.0,-23521000.0,-19582000.0
Other Assets,18945591000.0,12773263000.0,10996350000.0,910843000.0
Cash,6027804000.0,8205550000.0,5018437000.0,3794483000.0
Total Current Liabilities,8488966000.0,7805785000.0,6855696000.0,6487320000.0
Deferred Long Term Asset Charges,148095000.0,589091000.0,658206000.0,564425000.0
Short Long Term Debt,699823000.0,499878000.0,NaN,NaN
Other Stockholder Equity,-40495000.0,44398000.0,-23521000.0,-19582000.0
Property Plant Equipment,3770026000.0,2997909000.0,2097506000.0,418281000.0
Total Current Assets,8069825000.0,9761580000.0,6178504000.0,9694135000.0
Net Tangible Assets,2050027000.0,-2682367000.0,-7121195000.0,-9712376000.0
Net Receivables,804320000.0,610819000.0,454399000.0,569633000.0
Long Term Debt,14693072000.0,15809095000.0,14759260000.0,10360058000.0
Accounts Payable,837483000.0,656183000.0,674347000.0,562985000.0
Change To Liabilities,236465000.0,151642000.0,259909000.0,341475000.0
Total Cashflows From Investing Activities,-1339853000.0,-505354000.0,-387064000.0,-339120000.0
Net Borrowings,-500000000.0,1009464000.0,4469306000.0,3961852000.0
Total Cash From Financing Activities,-1149776000.0,1237311000.0,4505662000.0,4048527000.0
Change To Operating Activities,-478442000.0,-183515000.0,-216866000.0,-47708000.0
Issuance Of Stock,174414000.0,235406000.0,72490000.0,124502000.0
Net Income,5116228000.0,2761395000.0,1866916000.0,1211242000.0
Change In Cash,-2183759000.0,3195084000.0,1231745000.0,989246000.0
Repurchase Of Stock,-824190000.0,-824190000.0,-824190000.0,-824190000.0
Effect Of Exchange Rate,-86740000.0,36050000.0,469000.0,-39682000.0
Total Cash From Operating Activities,392610000.0,2427077000.0,-2887322000.0,-2680479000.0
Depreciation,208412000.0,115710000.0,103579000.0,83157000.0
Other Cashflows From Investing Activities,-26919000.0,-7431000.0,-134029000.0,-165174000.0
Change To Netincome,-16920420000.0,-11225067000.0,-14117107000.0,-11800733000.0
Capital Expenditures,-524585000.0,-497923000.0,-253035000.0,-173946000.0
Other Cashflows From Financing Activities,NaN,-7559000.0,-36134000.0,-37827000.0
Research Development,2273885000.0,1829600000.0,1545149000.0,1221814000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,5840103000.0,3199349000.0,2062231000.0,1226458000.0
Minority Interest,None,None,None,None
Net Income,5116228000.0,2761395000.0,1866916000.0,1211242000.0
Selling General Administrative,3896767000.0,3304848000.0,3566831000.0,2999763000.0
Gross Profit,12365161000.0,9719737000.0,7716234000.0,5826803000.0
Ebit,6194509000.0,4585289000.0,2604254000.0,1605226000.0
Operating Income,6194509000.0,4585289000.0,2604254000.0,1605226000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-765620000.0,-767499000.0,-626023000.0,-420493000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,723875000.0,437954000.0,195315000.0,15216000.0
Total Revenue,29697844000.0,24996056000.0,20156447000.0,15794341000.0
Total Operating Expenses,23503335000.0,20410767000.0,17552193000.0,14189115000.0
Cost Of Revenue,17332683000.0,15276319000.0,12440213000.0,9967538000.0
Total Other Income Expense Net,-354406000.0,-1385940000.0,-542023000.0,-378768000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,5116228000.0,2761395000.0,1866916000.0,1211242000.0
Net Income Applicable To Common Shares,5116228000.0,2761395000.0,1866916000.0,1211242000.0

In [13]:
getHistoricPrice("hd")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1981-09-22,0.018414,0.018414,0.018414,0.018414,7449469,0.0,0.0
1981-09-23,0.018414,0.018414,0.018414,0.018414,7381125,0.0,0.0
1981-09-24,0.018414,0.018414,0.018414,0.018414,5091609,0.0,0.0
1981-09-25,0.018414,0.018414,0.018414,0.018414,7312781,0.0,0.0
1981-09-28,0.018414,0.018414,0.018414,0.018414,5809219,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-10,298.459991,301.070007,287.660004,291.160004,4392900,0.0,0.0
2022-05-11,291.450012,293.329987,282.570007,282.959991,3880500,0.0,0.0
2022-05-12,281.570007,293.179993,280.630005,289.690002,4447700,0.0,0.0
2022-05-13,289.950012,299.420013,288.450012,296.029999,3941000,0.0,0.0
2022-05-16,294.079987,299.299988,289.852295,298.399994,2224680,0.0,0.0

In [14]:
getDividends("o")

            Dividends
Date
1994-10-26   0.072674
1994-11-25   0.072674
1994-12-27   0.072674
1995-01-26   0.072674
1995-02-23   0.072674
...               ...
2021-12-31   0.247000
2022-01-31   0.247000
2022-02-28   0.247000
2022-03-31   0.247000
2022-04-29   0.247000

[330 rows x 1 columns]